*{
    margin: none;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.contact-container{
    height: 120vh;
    width: 100vw;
    background-color: black;
}
.contact-main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10vw;
    justify-content: space-between;
    margin-right: 10vw;
}
.contact-hero{
    color: white;
    font-size: 60px;
    text-align: left;
    font-family: 'bolden';
    font-weight: 300;
    padding-bottom: 30px;
    overflow: hidden;
}
.first-line{
    font-size: 90px;
}
.seperation-line{
    width: 100vw;
}
.orange{
    font-size: 90px;
}
.instagram{
    color: white;
    font-size: 100px;
    /* font-family: 'folkin'; */
    font-family: 'Arose';
    line-height: 100px;
    overflow: hidden;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
    padding: 10px;
}
.email{
    color: white;
    font-size: 100px;
    /* font-family: 'folkin'; */
    font-family: 'Arose';
    /* line-height: 160px; */
    overflow: hidden;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
    padding: 10px;
}
.twitter{
    color: white;
    font-size: 100px;
    /* font-family: 'folkin'; */
    font-family: 'Arose';
    /* line-height: 220px; */
    overflow: hidden;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
    justify-content: center;
    align-items: center;
    padding: 10px;
}