*{
    margin: none;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.shop-container{
    width: 100vw;
    height: 120vh;
    background-color: black;
}
.shop-main{
    margin-left: 10vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    gap: 20vh;
}
.shop-top{
    display: flex;
    gap: 20vw;

}
.top-txt{
    color: white;
    text-align: left;
    font-size: 54px;
    font-family: 'Yustika';
}
.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40vw;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
.cat{
    display: inline-block;
    border-radius: 8px;
    background-color: #EB6215;
    padding: 6px 12px;
    color: black;
    font-size: 20px;
    font-weight: 700;
}
.shop-bot{
    height: 55vh;
    width: 80vw;
}
.wineglass{
  height: 50vh;
  width: 30vw;
}