*{
    margin: none;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}
.wow-container{
    height: 150vh;
    width: 100vw;
    background-color: black;
}

.wow-main{
    margin-top: 30vh;
    margin-left: 10vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.wow-text{
    font-size: 25px;
    text-align: left;
    color: white;
    font-family: 'Alinea-serif';
    margin-top: 5vh;
    overflow-y: hidden;
}
.marquees{
    display: flex;
    overflow: hidden;
    width: 80vw;
    justify-content: flex-start;
    flex-direction: column;
}
.marquee{
   height: 15vh;
   margin-right: 2000px;
   display: inline-block;
   overflow-y: hidden;

}

.enclosure{
    font-size: 80px;
}
.orange{
    color: #EB6215;
    font-family: 'Arose';
    font-size: 80px;

}
.skin{
    color: #FCAB7D;
    font-family: 'Arose';
    font-size: 80px;

}
.blue{
    color: #547CE3;
    font-family: 'Arose';
    font-size: 80px;

}